@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SV.Enum
<div class="row">
    <div class="col-md-6 col-xl-3">
        <a href="@Url.Action("DsLop", "Schedule", new { rank = RankEnum.THU2, sessionType = SessionEnum.SANG })">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="mb-1 mt-1">
                            Sáng - Thứ 2
                        </h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-xl-3">
        <a href="@Url.Action("DsLop", "Schedule", new { rank = RankEnum.THU2, sessionType = SessionEnum.CHIEU })">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="mb-1 mt-1">
                            Chiều - Thứ 2
                        </h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-xl-3">
        <a href="@Url.Action("DsLop", "Schedule", new { rank = RankEnum.THU3, sessionType = SessionEnum.SANG })">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="mb-1 mt-1">
                            Sáng - Thứ 3
                        </h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-xl-3">
        <a href="@Url.Action("DsLop", "Schedule", new { rank = RankEnum.THU3, sessionType = SessionEnum.CHIEU })">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="mb-1 mt-1">
                            Chiều - Thứ 3
                        </h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <a href="@Url.Action("DsLop", "Schedule", new { rank = RankEnum.THU4, sessionType = SessionEnum.SANG })">
                <div class="card-body">
                    <div>
                        <h4 class="mb-1 mt-1">
                            Sáng - Thứ 4
                        </h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <a href="@Url.Action("DsLop", "Schedule", new { rank = RankEnum.THU4, sessionType = SessionEnum.CHIEU })">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="mb-1 mt-1">
                            Chiều - Thứ 4
                        </h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-xl-3">
        <a href="@Url.Action("DsLop", "Schedule", new { rank = RankEnum.THU5, sessionType = SessionEnum.SANG })">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="mb-1 mt-1">
                            Sáng - Thứ 5
                        </h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-xl-3">
        <a href="@Url.Action("DsLop", "Schedule", new { rank = RankEnum.THU5, sessionType = SessionEnum.CHIEU })">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="mb-1 mt-1">
                            Chiều - Thứ 5
                        </h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-xl-3">
        <a href="@Url.Action("DsLop", "Schedule", new { rank = RankEnum.THU6, sessionType = SessionEnum.SANG })">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="mb-1 mt-1">
                            Sáng - Thứ 6
                        </h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-xl-3">
        <a href="@Url.Action("DsLop", "Schedule", new { rank = RankEnum.THU6, sessionType = SessionEnum.CHIEU })">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="mb-1 mt-1">
                            Chiều - Thứ 6
                        </h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-xl-3">
        <a href="@Url.Action("DsLop", "Schedule", new { rank = RankEnum.THU7, sessionType = SessionEnum.SANG })">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="mb-1 mt-1">
                            Sáng - Thứ 7
                        </h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-xl-3">
        <a href="@Url.Action("DsLop", "Schedule", new { rank = RankEnum.THU7, sessionType = SessionEnum.CHIEU })">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="mb-1 mt-1">
                            Chiều - Thứ 7
                        </h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-xl-3">
        <a href="@Url.Action("DsLop", "Schedule", new { rank = RankEnum.CN, sessionType = SessionEnum.SANG })">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="mb-1 mt-1">
                            Sáng - Chủ nhật
                        </h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-xl-3">
        <a href="@Url.Action("DsLop", "Schedule", new { rank = RankEnum.CN, sessionType = SessionEnum.CHIEU })">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="mb-1 mt-1">
                            Chiều - Chủ nhật
                        </h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
